* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://images.wallpaperscraft.com/image/code_symbols_programming_148512_1366x768.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.containter {
    width: 74.2vw;
    height: 100%;
    min-height: 92.85vh;
    background: #ffffff8a;
    backdrop-filter: blur(7px);
    overflow: hidden;
    margin-left: 24vw;
    padding-top: 65px;
    padding-left: 1.8vw;
    display: flex;
}

#cardContainer {
    width: 99.9%;
    height: 92.5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.containter #topBar {
    height: 45px;
    width: 65vw;
    background: #fff;
    margin: 8px 2em;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 2px 2px 5px #000;
    padding: 3px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.containter #topBar input {
    height: 92%;
    width: 70%;
    padding: 0 15px;
    font-size: 20px;
    border: none;
    outline: none;
    opacity: .5;
    transition: .5s;

}

.containter #topBar input:focus {
    opacity: 1;
    transition: .5s;
}

#cardContainer .card {
    width: auto;
    max-width: 290px;
    height: 400px;
    margin: 10px 10px;
    background-color: #ffffff6b;
    backdrop-filter: blur(5px);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 2px 2px 5px #000;
    opacity: .5;
    transition: opacity .7s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#cardContainer .card:hover {
    opacity: 1;
    transition: opacity .7s;
}

#cardContainer .card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#cardContainer .card h1 {
    text-align: center;
    margin: 0 0 5px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}

#cardContainer .card div {
    position: absolute;
    width: 100%;
    height: 35%;
    background: linear-gradient(0deg,#fff, transparent);
    align-self: center;
    border-radius: none;
    z-index: 10;
    top: 65.1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#cardContainer .card div a {
    text-decoration: none;
    margin-bottom: 3px;
    font-size: 16px;
    color: #fff;
    background: #000;
    width: 50%;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    opacity: .8;
}

#cardContainer .card p {
    font-size: 16px;
    text-align: center;
    z-index: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;

}

aside {
    width: 25vw;
    height: 100vh;
    box-shadow: 0px 0px 10px 0px #000;
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

aside .asideHeader {
    height: 6vw;
    border-bottom: 1px solid #888;
    box-shadow: 0px 0px 8px #000;
    display: flex;
    flex-direction: column;
    background: #fff;
}

aside .asideHeader .icon {
    height: 2vw;
    width: 8vw;
    align-self: center;
    margin-top: 1vw;
}

aside .asideHeader .logo {
    align-self: center;
    width: 20vw;
    height: 5.2vw;
    margin-top: -1vw;
}

aside .asideFooter {
    height: 5vw;
    width: 100%;
    background: linear-gradient(0deg,#fff, transparent);
    position: absolute;
    top: calc(100vh - 5vw);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .asideFooter img {
    height: 2.5vw;
    width: 2.5vw;
    margin: 0 10px;
    opacity: .6;
    transition: .5s;

}

aside .asideFooter img:hover {
    opacity: 1;
    transition: .5s;
}

aside .asideBody {
    height: 100%;
    background: #ffffffd7;
    backdrop-filter: blur(8px);
}
